{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<img src="" alt="">
<div>
    <p class="MonNom">Arthr DELACOUR</p><br>
    <p class="Moi">Etudiant en BTRS SIO 2ème année</p>
</div>
<div>
    
</div>

{% endblock %}
