{% extends 'base.html.twig' %}

{% block title %}New CompetencesReseau{% endblock %}

{% block body %}
    <h1>Create new CompetencesReseau</h1>

    {{ include('competences_reseau/_form.html.twig') }}

    <a href="{{ path('app_competences_reseau_index') }}">back to list</a>
{% endblock %}
