<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <div>
            <nav>
                <ul>
                    <li>Accueil</li>
                    <li>A propos de moi ...</li>
                    <li>Compétences Dev</li>
                    <li>Compétences Réseau</li>
                    <li>Veille et Certification</li>
                    <!-- pour les admin -->
                    <li>Modif A Propos</li>
                    <li>Modif Competences Dev</li>
                    <li>Modif Competences Réseau</li>
                    <li>Modif Veille et Certif</li>
                    <li>Deconnexion </li>
                    <!-- Fin des admin -->
                </ul>
            </nav>
        </div>
        {% block body %}{% endblock %}
        <footer>
            <div>
                <ul>
                    <li>Politique de confidntialitée</li>
                </ul>
            </div>
        </footer>
    </body>
</html>
